body {
    background: #CAD2C5;
}

p{
    margin-left: 40%;
}

header {
    display: flex;
    align-items: center;
    background-color: #2F3D46;
    color: white;
    font-size: 2rem; 
    padding: 10px; 
}

i {
    color: white;
    margin-left: 10px; 
    margin-right: 20px; 
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px; 
    border-radius: 5px;
    height: 80vh;
}

.col {
    display: flex;
    align-items: center;
    background: #353535;
    color: gray;
    font-size: 1.5rem; 
    margin: 10px; 
}

.main {
    display: flex;
    flex-direction: row; 
}

